remote_theme: "mmistakes/minimal-mistakes"

plugins:
  - jekyll-remote-theme
  - jekyll-paginate

title: "allo's blog"
description: "record"
locale: "zh-CN"
minimal_mistakes_skin: "sunrise"

paginate: 5
paginate_path: "/page:num/"

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "single"
      author_profile: true
      read_time: true
      toc: true
      toc_sticky: true
      related: true
      classes: "wide"
